body{
  margin: 0;
}


nav{
  background: #112E50 !important;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
}

/* Hero */
.hero{
  background-image: linear-gradient(to right, #337484, #182E4E);
  padding: 50px;
  color: white;
}


.flip-card {
  background-color: transparent;
  width: 90%;
  height: 350px;
  max-height: fit-content;
  perspective: 1000px;
  padding: 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  color: #112E50;
  text-align: center;
}

.flip-card-back {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(10,136,157,1) 0%, rgba(16,46,81,1) 100%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  color: white;
  text-align: center;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-text{
  width: 90%;
  margin: auto;
}

section{
  width: 90%;
  margin: auto;
  padding: 20px;
}
/* SCROLLS */
.wrapper { 
  margin: auto; 
  text-align: center; 
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.quicksearch {
  border: 1px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 90%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  size: 12px;
  background-color: #f5f5f5;
  transition: 0.3s;
}

.quicksearch:hover{
  border: 4px solid #7ECAD3;
  transition: 0.3s;
}

/* Text Styles */
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

h1{
  margin: .67em 0;
  font-size: 2em;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

h2{
  font-size: 1.5em;
  font-weight: 500;
}

h3{
  font-size: 16px;
  font-weight: 500;
}

p {
  font-size: 16px;
  text-align: left;
  margin: 20px;
}

.center{
  text-align: center;
}
.button { 
  border-radius: 10px;
  color: white;
  border-style: solid;
  border-width: 2px;
  width: 80%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #0CA5C0;
  transform: translate3D(0,-1px,0) scale(1.03);
}

#ck-button {
  background:#4093A5;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#ck-button label {
  float:left;
  width:10.0em;
}

#ck-button label span {
  text-align:center;
  padding: 10px 20px;
  display:block;
  border-radius:4px;
  
}

#ck-button label input {
  position:absolute;
  top:-20px;
}

#ck-button input:hover + span {
  background-color:#337484;
  font-weight: 600;
}

#ck-button input:checked + span {
  background-color:#182E4E;
  transition: 0.3s;
  color:#fff;
  font-weight: 600;
  transition: 0.3s;
}
