body{
  margin: 0;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

.header {
  background-color: #112E50;
  text-align: center;
  padding: 20px;
}

/* Hero */
.jumbotron{
  background-image: linear-gradient(to right, #337484, #182E4E);
  padding: 50px;
  color: white;
}

/* SCROLLS */
.wrapper { 
  text-align: center; 
  position: relative;
  display: flex;
  min-width: 100px;
}

.scrolls { 
  overflow-x: scroll;
  overflow-y: hidden;
  height: 50px;
  background: transparent url('images/backgrounds/scrollbar.png') repeat-y !important;
} 

/* Hide scrollbar for Chrome, Safari and Opera */
.scrolls::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrolls {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.checkbox-button{
  padding: 12px 18px;
  border: 1px #4093A5 solid;
  color:#4093A5;
  border-radius: 20px;
  transition: 0.3s;
}

.checkbox-button-atv{
  background:#4093A530;
  transition: 0.3s;
  border: 1px #4093A5 solid;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.quicksearch {
  border: 1px solid grey;
  border-radius: 5px;
  height: 40px;
  width:100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  size: 12px;
  background-color: #f5f5f5;
  transition: 0.3s;
}

.quicksearch:hover{
  border: 4px solid #7ECAD3;
  transition: 0.3s;
}


body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}



.btn-primary {
  background: #4093A5  !important;
  border-color:#4093A5 !important;
}

.btn-primary:hover{
  background:#337484 !important;
  border-color:#337484 !important;
}


.ck-button {
  width: 150px;
  height: 45px;
  font-size: 14px!important;
  background:#4093A5;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 4px 0px 2px;
  cursor: pointer;
}


.ck-button {
  margin:4px;
  background-color:#EFEFEF;
  border-radius:4px;
  border:1px solid #D0D0D0;
  overflow:auto;
  float:left;
}

.ck-button:hover {
  background:red;
}

.ck-button label {
  float:left;
  padding-left: 30px;
  padding-right: 30px;
  width:4.0em;
  background-color: red;
}

.ck-button label span {
  text-align:center;
  padding:3px 0px;
  display:block;
}

.ck-button label input {
  position:absolute;
  top:-20px;
}

#ck-button input:checked + span {
  background-color:#911;
  color:#fff;
}